<section class="contact">
    <h1>Contact</h1>
    <form action="javascript:;" method="POST" id="js-contact-form">
        <div class="input-wrap">
            <label for="name" class="label">Username</label>
            <input type="text" name="name" id="name" class="input">
        </div>
        <div class="input-wrap">
            <label for="job" class="label">Job</label>
            <input type="text" name="job" id="job" class="input">
        </div>
        <button type="submit">Send</button>
    </form>
</section>