<header class="header">
    <nav class="nav">
        <a href="/home" class="js-home nav-link">Home</a>
        <a href="javascript:;" class="js-about nav-link">About</a>
        <a href="javascript:;" class="js-contact nav-link">Contact</a>
    </nav>
</header>