<header class="header">
    <nav class="nav">
        <a href="/home" class="js-nav-link nav-link">Home</a>
        <a href="/about" class="js-nav-link nav-link">About</a>
        <a href="/contact" class="js-nav-link nav-link">Contact</a>
    </nav>
</header>